@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>

<ul>
    <li><a asp-area="" asp-controller="People" asp-action="Index" class="navbar-brand">People</a></li>
    <li><a asp-area="" asp-controller="Locations" asp-action="Index" class="navbar-brand">Locations</a></li>
</ul>

